.footer{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    margin-top: 16px;
}

@media (max-width: 768px) {
    .footer{
        display: flex;
        flex-direction: column;
    }
}
.spacer{
    margin-left: auto !important;
}
.footer p{
    margin: 8px;
}